{% set page_title = 'All Pages - ' ~ wiki_title %}{% include '_header.html' %}
<body class="has-navbar-fixed-top">
  {% include '_navbar.html' %}
  <link href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        new gridjs.Grid({
            from: document.getElementById('sourceTable'),
            sort: true,
            fixedHeader: true,
            search: true,
            autoWidth: true,
            language: {
                'search': {
                    'placeholder': '🔍 Search this table...'
                }
            }
        }).render(document.getElementById('destinationWrapper'));
    });
  </script>

  <div id='allPagesTableWrapper'>
  <div id='destinationWrapper'></div>

  <table id='sourceTable'>

    <thead>
      <tr>
        <th>Page</th>
        <th>Change</th>
        <th>By</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      {% for page in pages|sort(attribute='date',reverse=True) %}
      <tr>
        <td><a href="{{ page.path }}">{{page.title}}</a></td>
        <td>{{page.change}}</td>
        <td>{{page.author}}</td>
        <td>{{page.date}}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  </div>
  <script>{% include '_javascript.html' %}</script>
</body>
</html>
