{% set page_title = 'Search - ' ~ wiki_title %}{% include '_header.html' %}
  <style> <!-- TODO: move this to a CSS file -->
    ul#resList{list-style-position: inside;margin-left:3em;}
    li.item{list-style:none; padding:5px;}
    div#renderList{margin-top:1.5em;}
  </style>
  <body class="has-navbar-fixed-top">
    {% include '_navbar.html' %}
    <section class="section">
      <div class="container">
	<div class="columns">
	  <div class="sidebar column is-one-fifth">
            <div class="content markdown-body" style="border-right:1px black solid; padding-right:1em;">
              {{ sidebar_body }}
            </div>
	  </div>
	  <div class="column">
            <div class="content markdown-body">
	      <h1>Search in {{wiki_title}}</h1>
	      <input type="text" placeholder="type search words" id="inputID">
	      <button type="button" onclick="doSearch();" id="searchButton">Search</button>
	      <div id="renderList"></div>
            </div>
	  </div>
	</div>
      </div>
    </section>
    {% include '_footer.html' %}
    <script>{% include '_javascript.html' %}</script>
<!-- uncomment to add Hypothes.is
    <script src="https://hypothes.is/embed.js" async></script>
-->
  </body>
</html>
